@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container, #tracker-container {
    display: flex;
    border: 1px solid black;
}

.container {
    justify-content: space-around;
    max-width: 750px;
    min-width: 700px;
    margin: 40px auto 20px auto;
    padding: 10px;
    /* Users cannot select highlight text in containers */
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.traits-column {
    display: flex;
    margin: 6px;
    flex-direction: column;
    justify-content: space-around;
}

.trait-row {
    display:flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.names {
    padding: 5px;
    padding-right: 2px;
    margin-right: 3px;
    min-width: 94px;
    border: 0;
    border-radius: 5px;
    text-transform: capitalize;
}

.names:hover {
    box-shadow: 0px 0px 2px 2px darkorange;
    font-weight: bold;
}

.radio-box {
    min-width: 110px;
}

.radio-box input {
    margin: 2px;
}

.tracker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    text-transform: capitalize;
}

.tracker-container div {
    margin-top: 8px;
}

.stat-tracker {
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}

button.stat-tracker {
    height: 24px;
    width: 24px;
}

#roll-container {
    position: sticky;
    top: 10px;
    background-color: white;
}

#dice-display {
    min-width: 300px;
    min-height: 2rem;
    font-size: 24pt;
    border: 1px solid black;
    overflow: auto;
}

#dice-pool {
    min-width: 300px;
    text-transform: capitalize;
}

/* Manual style for checkboxes. Needs work.

.radio-box input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 2px;
    margin-top: 4px;

    font: inherit;
    color: black;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
}

.radio-box input::before {
    content: "";
    width: 60%;
    height: 60%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    clip-path: circle();
    margin: auto auto;
}

.radio-box input:checked::before {
    transform: scale(1);
}

*/