body {
    display: flex;
    flex-direction: column;
}

.container, .traits-column, .trait-row, #tracker-container {
    display: flex;
    border: 1px solid black;
}

.container {
    justify-content: space-around;
    max-width: 750px;
    min-width: 700px;
    margin: 40px auto 20px auto;
    padding: 10px;
    /* Users cannot select highlight text in containers */
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.traits-column {
    margin: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.trait-row {
    display:flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.names {
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.names:hover {
    background-color: darkorange;
}

.tracker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

#dice-display {
    min-width: 200px;
    min-height: 2em;
    font-size: 24pt;
    border: 1px solid black;
}

/* Manual style for checkboxes. Needs work.

.radio-box input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 2px;
    margin-top: 4px;

    font: inherit;
    color: black;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
}

.radio-box input::before {
    content: "";
    width: 60%;
    height: 60%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    clip-path: circle();
    margin: auto auto;
}

.radio-box input:checked::before {
    transform: scale(1);
}

*/